html, body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding-top: 50px;
}

#sidebar {
    padding-top: 20px;
}

#runpred {
    width: 100%;
}

.dropdown-menu-units {
    min-width: 50px;
}

.dropdown-label {
    font-weight: bold;
}
